@import '../../../../assets/scss/colors';
@import '../../../../assets/scss/funcs';

#registration-form-wrapper {
  background-color: $white;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-top: 5vh;
  @include border-radius(10px);

  label {
    margin-bottom: 0px;
    color: $blue-dark;
  }

  input {
    outline: none;
    box-shadow: none;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-color: $blue-dark;
  }

  .error {
    border-bottom-color: $orange;
  }

  hr {
    margin-top: 0px;
    margin-bottom: 20px;
    background-color: $blue-dark !important;
  }

}

#registration-form-header {
  margin: 0px;

  div {
    padding: 0px;
  }

  p {
    color: $blue-dark;
    font-weight: bold;
  }

  a {
    font-weight: 1rem;
    color: $blue-light;
  }

  div:nth-child(1) {
    font-size: 1.2rem;
    font-weight: bold;
  }

  div:nth-child(2) {
    text-align: right;
    padding-top: 5px;
  }
}

#eye-icon {
  pointer-events: visible;
  &:hover {
    cursor: pointer;
  }
}

#registration-button {
  margin-top: 30px;

  button {
    background-color: $red;
    font-size: 1.3rem !important;
    font-weight: bold;
    color: $white;
    text-align: center !important;
  }
}
