$red: rgb(226, 0, 0);
$white: rgb(255, 255, 255);
$white-dark: rgb(237, 238, 240);
$grey: rgb(47, 66, 75);
$grey-transparent: rgba(47, 66, 75, 0.99);
$blue-dark: rgb(9, 33, 66);
$blue-dark-transparent: rgba(9, 33, 66, 0.95);
$blue-light: rgb(50, 127, 173);
