$red: rgb(226, 0, 0);
$white: rgb(255, 255, 255);
$white-dark: rgb(237, 238, 240);
$grey: rgb(47, 66, 75);
$black: rgb(0, 0, 0);
$grey-transparent: rgba(47, 66, 75, 0.99);
$blue-dark: rgb(9, 33, 66);
$blue-dark-transparent: rgba(9, 33, 66, 0.95);
$blue-light: rgb(50, 127, 173);
$orange: rgb(252, 151, 0);
$green: rgb(0, 218, 133);
$secure-nav-background: rgb(58, 74, 85);
$secure-nav-clicked-color: rgb(32, 48, 59);
$secure-nav-hover-color: #5c6a74;
$secure-nav-color: rgb(166, 185, 198);
$modal-background-color: rgba(47, 66, 75, 0.4);
