@font-face {
  font-family: 'Anton';
  src: url('../fonts/Anton-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Courgette';
  src: url('../fonts/Courgette-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono';
  src: url('../fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
}
