@import '../../../../assets/scss/fonts';
@import '../../../../assets/scss/colors';

#home-nav {
  min-height: 63.5px;
}

.navbar-brand {
  font-family: 'Anton';
  font-size: 2.3rem;

  a {
    color: $blue-dark;

    &:hover, &:active, &:visited, &:active {
      color: $blue-dark;
    }
  }

  span {
    color: $red;
  }
}

.navbar-burger {
  margin-top: 8.35px !important;

  &:hover {
    background-color: transparent;
  }
}

.buttons {
  a:nth-child(1) {
    font-weight: bold;
    color: $blue-light !important;

    &:hover {
      background-color: transparent !important;
    }
  }

  a:nth-child(2) {
    background-color: $red;
    color: $white;
    font-weight: 900;
  }
}

.navbar-menu.is-active {
  position: absolute;
  top: 63.5px;
  right: 0px;
  min-height: 50vh;
  background-color: $grey-transparent;

  .buttons {
    display: flex;
    flex-direction: column;

    a {
      font-size: 0.8rem;
      color: $white !important;
      background-color: transparent;
    }

    a:nth-child(1) {
      font-weight: bold;
    }

    a:nth-child(2) {
      font-weight: bold;
      border: none;
    }
  }
}


