@import '../../../../../node_modules/bulma/sass/grid/_all.sass';
@import '../../../../assets/scss/colors';

#all-items {
  margin: 0px;
}

#spinner-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 99999;
  background-color: $modal-background-color;
  color: $red;
}
