@import '../../../../assets/scss/colors';

#addresses {
  position: relative;
  margin: 0px;
  padding-top: 27px;
  color: $blue-dark;

  h1 {
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: 30px;
  }
}

#add-address-icon {
  position: absolute;
  z-index: 9999;
  right: 20px;
  bottom: 20px;
  color: $red;
}

#spinner-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 99999;
  background-color: $modal-background-color;
  color: $red;
}
