@import '../../node_modules/bulma/sass/base/_all.sass';
@import '../assets/scss/colors';

html {
  background-color: $white-dark;
  font-size: 0.9rem;
}

body {
  position: relative;
  min-height: 100vh;
}

body::after {
  content: '';
  display: block;
  height: 61px;
}
