@import '../../../../../assets/scss/colors';

#logout-button-wrapper {
  padding: 0px;
  text-align: right;
}

#logout-button {
  background-color: $red;
  color: $white;
  font-weight: 900;
  font-size: 1rem;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}
